.card {
  width: 100%;
  height: auto;
}

.cardTitle {
  /*background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(http://grfx.cstv.com/photos/schools/gonz/non-sport/locker-room-picture-mw-400.jpg) center no-repeat;*/
  height: 150px;
}

.cardTitleText {
  color: white;
}

.list {
  width: 300px;
  margin-bottom: 0px;
}

.text-field {
  width: 200px;
  margin: 0 0 0 16px
}

.button {
  float: right;
}

.fab {
  background-color: #10a200;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 1000;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:38px;
    height:38px;
}
