.metricText {
  display: inline-flex;
  align-self: center;
  flex-direction: row;
  align-items: baseline;
  vertical-align: text-bottom;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.mainText {
  font-size: .55em;
}

.subText {
  font-size: .2em;
  padding: 0 0 0 7px;
}
