.card {
  width: 400px;
  display: table;
  margin: 0 auto;
}

.center-div {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .card {
    margin: 0 auto;
    width: 350px;
  }
}
